<router-outlet>
  <!--Sections on Front Page-->

  <div class="sections">
    <div id="myLife"></div>
    <div class="myLifeSection">
      <div class="myLifeText">
        <h1>About Me</h1>
        <p class="myLifeSectPText">
          &#8226; I'm interested in web and software development, creative design, AI, and cybersecurity
          <br />
          &#8226; Some of my favorite apps to use are LinkedIn Learning, Adobe Premiere Pro, and Visual Studio
          <br />
          &#8226; My favorite sport is gymnastics, which I coached and competed for a total of 8 years
          <br />
          &#8226; Click on some of the navigation bar links to learn more about me
        </p>
      </div>
      <div class="lifePictureSection">
        <img class="sectionsPics" src="../assets/Images/Me.png" alt="Picture of Charlene Creighton" height="225" width="197" />
        <a id="kunstlerSig">
          CharleneCreighton
        </a>
      </div>
    </div>

    <div id="myAcademia"></div>
    <div class="myAcademicsSection">
      <div class="myLifeText">
        <h1>My Academics</h1>
        <p class="myAcademiaSectPText">
          &#8226; I have studied computer science with an emphasis on software development at U.F
          <br />
          &#8226; I have been an active Bright Futures Academic Scholar since 2020
          <br />
          &#8226; I receive my B.S. in computer science from the University of Florida in May 2024
        </p>
      </div>
      <div class="academiaPictureSection">
        <img class="sectionsPics" src="../assets/Images/Logos/gators.jpg" alt="Florida Gators" height="260" width="195" />
      </div>
    </div>

    <div id="myGymnastics"></div>
    <div class="myGymnasticsSection">
      <div class="myLifeText">
        <h1>Gymnastics Career</h1>
        <p class="myGymnasticsSectPText">
          &#8226; I work at The Gymnastics Revolution, where I competed for 4 years
          <br />
          &#8226; I won high ranking titles including level 8 state balance beam champion
          <br />
          &#8226; I currently train gymnasts of all ages to be successful in the sport
        </p>
      </div>
      <div class="gymnasticsPictureSection">
        <img class="sectionsPics" src="../assets/Images/Logos/Gym_Photo_4.jpg" alt="Gymnast" height="260" width="195" />
      </div>
    </div>

    <div id="myTech"></div>
    <div class="myCareerSection">
      <div class="myLifeText">
        <img class="binaryTunnel" src="../assets/Images/backgrounds/Binary Tunnel.jpg" alt="Binary Tunnel" width="1000" height="450" />
        <h1>Tech Experience</h1>
        <p class="myCareerSectPText">
          &#8226; I am actively pursuing careers in software development, web development, and cybersecurity
          <br />
          &#8226; I enjoy using software to edit videos, develop web apps, draft documents, et cetera
          <br />
          &#8226; I manage projects involving Javascript, Html, Adobe Premiere Pro, Microsoft Suite and beyond
          <br />
          &#8226; If it involves technology, I will plan, design, and build any technological project
          <br />
          &#8226; Fun Fact: This entire site was built from scratch by me using Angular, Html, CSS, and TypeScript
        </p>
      </div>
      <div class="careerPictureSection">
        <img class="sectionsPics" src="../assets/Images/Logos/languages_1.jpg" alt="Programming Languages" height="240" width="195" />
      </div>
    </div>

    <nav id="homeFooter" class="footer">
      <p>
        Check out these links to discover more information
        <br />
        about me and projects I have completed
      </p>
      <!--Outer Links-->
      <div class="footerLink">
        <img class="footerLogo" src="../assets/Images/Logos/LinkedIn_logo.webp" width="30" height="30" />
        <a class="footerImg" href="https://www.linkedin.com/in/charlene-creighton-8850aa213/" alt="Creighton Charlene LinkedIn" target="_blank">
          LinkedIn
        </a>
      </div>

      <div class="footerLink">
        <img class="footerLogo" src="../assets/Images/Logos/youtube.webp" width="50" height="30" />
        <a class="footerImg" href="https://www.youtube.com/channel/UCpjR79mhyVGjla2VPHBAtwQ" alt="Creighton Charlene YouTube" target="_blank">
          YouTube
        </a>
      </div>

      <div class="footerLink">
        <img class="footerLogo" src="../assets/Images/Logos/GitHub_3.png" width="30" height="30" />
        <a class="footerImg" href="https://github.com/Charlene999?tab=repositories" alt="Creighton Charlene GitHub" target="_blank">
          Github
        </a>
      </div>

      <div class="footerLink">
        <img class="footerLogo" src="../assets/Images/Logos/resume2.png" width="60" height="30" />
        <a class="footerImg" href="../assets/documents/Charlene Creighton Current Resume.pdf" alt="Creighton Charlene GitHub" target="_blank">
          Résumé
        </a>
      </div>
    </nav>
  </div>
  
  <!--Navbar-->
  <nav class="menuLinks">
    <img routerLink="/" class="logo" src="../assets/Images/Logo Full Name 2.png" alt="Charlene Creighton" width="220" height="56" />
    <a class="menuLinkSelect" href="#homeFooter">More Info</a>
    <a href="#myTech" class="myTechLink">
      Technology
    </a>

    <a href="#myGymnastics" class="myGymLink">
      Gymnastics
    </a>

    <a href="#myAcademia" class="myAcademiaLink">
      Academics
    </a>

    <a href="#myLife" class="myLifeLink">
      About Me
    </a>

  </nav>

  <!-- Home Page Content Container -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <router-outlet>
          </router-outlet>
        </div>
      </div>
    </div>
  </div>
</router-outlet>

